NODE_ENV=development

DB_HOST=localhost
DB_READ_HOST=localhost
DB_PORT=5532
DB_USER=interop
DB_PASSWORD=interop
DB_DATABASE=interop
DB_SSL=false

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

BATCH_SIZE=1000
JWT_SECRET=
